<h1>Forums</h1>

<% @forums.each do |forum| %>
  <div>
    <h2><%= link_to forum.forum_name, forum_path(forum) %></h2>
    <p><%= forum.description %></p>

    <%= link_to "Show this forum", forum_path(forum) %>
    <%= link_to "Subscribe", new_forum_subscription_path(forum) %>
  </div>
<% end %>
